<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.0.0" targetFramework="monoandroid51" />
  <package id="JakeWharton.Picasso2OkHttp3Downloader" version="1.1.0" targetFramework="monoandroid71" />
  <package id="MySql.ConnectorNET.Data" version="6.8.3.2" targetFramework="monoandroid51" />
  <package id="MySql.Data" version="6.9.9" targetFramework="monoandroid51" />
  <package id="MySql.Data.Entity" version="6.9.9" targetFramework="monoandroid51" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="monoandroid71" />
  <package id="OkHttpClient" version="2.7.5" targetFramework="monoandroid71" />
  <package id="Square.OkHttp" version="2.7.5.0" targetFramework="monoandroid71" />
  <package id="Square.OkHttp.UrlConnection" version="2.7.5.0" targetFramework="monoandroid71" />
  <package id="Square.OkHttp3" version="3.4.1.1" targetFramework="monoandroid71" />
  <package id="Square.OkIO" version="1.6.0.0" targetFramework="monoandroid71" />
  <package id="Square.Picasso" version="2.5.2.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="23.3.0" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.Design" version="23.3.0" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.v4" version="23.3.0" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="23.3.0" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.v7.CardView" version="23.3.0" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.v7.MediaRouter" version="23.3.0" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="23.3.0" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="23.3.0" targetFramework="monoandroid70" />
  <package id="Xamarin.Forms" version="2.3.3.180" targetFramework="monoandroid70" />
</packages>